@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nick's App</h1>
    <p class="lead">This is Nick's sample app</p>
</div>

<div class="row">
    <div class="col-md-3">
        <table id="stockTable" class="table table-bordered table-striped">
        </table>
    </div>
    <div class="col-md-6">
        Charts
    </div>
    <div class="col-md-3">
        Other Table
    </div>
</div>